body {  
    background-image: url(imagens/fundo.png);
    font-family: Arial;
    margin: 5%;
    margin-left:15%;
    margin-right:15%;
}
h1 {
    color: limegreen;
    font-family: "Times New Roman", Arial;
    font-size: 28px;
}
h2 { 
    color: limegreen;
    font-family: "Times New Roman", Arial;
    font-size: 24px;
}
img {
    border: solid;
    border-color: limegreen;
    border-width: 4px;
}
table, th, td{
    border-width: 1px;
    border: solid;
    border-color:silver;
    border-collapse: collapse;
}
table {
    width: 600px;
}
